/* Resetting */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-height: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Main */

body {
  font-family:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: var(--bg);
  color: var(--text);

  --bg: #F9EBE0;
  --text: #0A1321;
  --primary: #0D212E;
}


.page-header::before {
  background-color: var(--primary);
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  transform: skewY(var(--distortion)) translateY(var(--offset));
  box-shadow: 0 -3px 10px 1px black;

  --distortion: -9deg;
  --offset: calc(tan(var(--distortion)) * 50vw);
}

.page-header {
  position: relative;
  padding: 1px;
}

.page-header .info {
  margin: 10rem auto 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 75vw;
  gap: 6vw;
  background-color: var(--bg);
  border-radius: 1rem;
  box-shadow: 0 0 10px -3px black;
}

.page-header .photo {
  border-radius: 1rem;
  height: max(65vh - calc(75vw /4), calc(3/2* 75vw /4));
  position: relative;
  background: url(./assets/photo-original.jpg) no-repeat 50% 90%/ cover; 
  transform: scale(1.3) translateX(calc(2vw));
}

.page-header .info .photo h1 {
  position: absolute;
  inset: auto 0 0;
  text-align: center;
  color: var(--bg);
  font-size: 2.5rem;
}

.text-info-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 1rem 0;
}

.page-header .info h1 {
  font-size: 3rem;
}

.page-header .info p {
  font-size: 1.7rem;
}

.page-header .info .links {
  margin: auto 0 0 auto;
}

.page-header .info .links svg {
  height: 4rem;
  will-change: transform;
  transition: ease-out .15s transform;
}
.page-header .info .links svg:hover {
  transition: ease-in .15s transform;
  transform: scale(1.1);
}
