/* Resetting */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Main */

body {
  font-family:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: var(--bg);
  color: var(--text);

  --bg: #F9EBE0;
  --text: #0A1321;
  --primary: #0D212E;
}


.page-header::before {
  background-color: var(--primary);
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  transform: skewY(var(--distortion)) translateY(var(--offset));
  box-shadow: 0 -3px 10px 1px black;

  --distortion: -9deg;
  --offset: calc(tan(var(--distortion)) * 100vw);
}

.page-header {
  height: 50vw;
  position: relative;
  display: flex;
}

.page-header .info {
  margin: auto;
  display: grid;
  grid-template-areas: 
    "image h1"
    "image p"
    "image links";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, auto);
  width: 80vw;
  background-color: var(--bg);
  border-radius: 1rem;
  transform: scale(1, 0.7);
  box-shadow: 0 0 10px -3px black;
}

.page-header .info > * {
  transform: scale(0.7, 1);
}

.page-header .photo {
  transform: scale(1,calc(10/7));
  border-radius: 1rem;
  aspect-ratio: calc(2/3);
  position: relative;
  grid-area: image;
  background: url(./assets/photo-original.jpg) no-repeat 50% 90%/ cover; 
}

.page-header > h1 {
  grid-area: h1;
}

.page-header .photo h1 {
  position: absolute;
  inset: auto 0 0;
  text-align: center;
  color: var(--bg);
  font-size: 2.5rem;
}

.page-header h1 {
  font-size: 3rem;
}
