/* Resetting */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Main */

body {
  font-family:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: var(--bg);
  color: var(--text);

  --bg: #FBF5F3;
  --text: #06070E;
  --primary: #D7212D;
}

.page-header {
  position: relative;
  padding: 10px;
  min-height: 300px;
}

.page-header::before {
  z-index: -1;
  content: "";
  inset: 0;
  position: absolute;
  background-color: var(--primary);
  transform: skewY(var(--distortion)) translateY(var(--offset));

  --distortion: -9deg;
  --offset: calc(tan(var(--distortion)) * 50vw);
}