/* Resetting */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-height: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Main */

@font-face {
  font-family: "Lora";
  src: url("fonts/Lora-VariableFont_wght.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family:"Lora",
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: var(--bg);

  --bg: #efe6e6;
  --primary: #0f203b;
}


.page-header::before {
  background-color: var(--primary);
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  transform: skewY(var(--distortion)) translateY(var(--offset));
  box-shadow: 0 -3px 16px 4px black;

  --distortion: -9deg;
  --offset: calc(tan(var(--distortion)) * 100vw);
}

.page-header {
  position: relative;
  min-height: 100vh;
  display: flex;
}

.page-header .info {
  margin: auto;
  width: 75vw;
  padding: 2rem 2rem 5rem;
  background-color: var(--bg);
  border-radius: 1rem;
  box-shadow: 0 0 16px -2px black;
  position: relative;
}


.page-header .info .placeholder {
  float: left;
  height: calc(18rem + 1vw);
  max-height: 20rem;
  width: 23rem;
}

.page-header .photo-wrapper {
  position: absolute;
  height: max(16.5rem, calc(112rem - 325%));
  min-height: 16.5rem;
  width: calc(10rem + 8vw);
  min-width: 18rem;
  transform: translate(calc(1.4rem - 1vw), -2rem) scale(1.3);
  perspective: 600px;
}

.page-header .photo {
  will-change: transform;
  transition: ease-in-out 0.8s transform;
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.page-header .photo .back,
.page-header .photo .front {
  box-shadow: 0 0 8px 0px black;
  border-radius: 1rem;
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden; 
}

.page-header .photo .back {
  background: url(./assets/Vagabond.jpeg) no-repeat center 5% / cover; 
  transform: rotateY(-180deg);
}

.page-header .photo .front {
  background: url(./assets/Vagabond-colored-1.png) no-repeat center 20%/ cover;
  transform: rotateY(0deg);
}

.photo-wrapper:hover .photo,
.photo-wrapper:active .photo {
  transform: rotateY(180deg);
}

.page-header .info .photo h1 {
  position: absolute;
  inset: auto 0 0;
  text-align: center;
  color: var(--bg);
  font-size: 2.5rem;
}

.page-header .info .photo .front h1 {
  top: 0;
  color: var(--text);
}

.page-header .info h1 {
  font-size: 3rem;
}

.page-header .info p {
  font-size: 2rem;
}

.page-header .info .links{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  height: 4rem;
}



.info .links svg {
  will-change: transform;
  transition: ease-out .15s transform;
  height: 100%;
}

.info .links svg:hover {
  transition: ease-in .15s transform;
  transform: scale(1.1);
}

main, .page-footer {
  padding: 4rem 8rem;
}

main h1,
.page-footer h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(25rem, 1fr) );
  gap: 3.5rem;
  margin-top: 2rem;
}

.card {
  box-shadow: 0 0 16px -4px black;
  border-radius: 1rem;
  overflow: hidden;
  will-change: transform;
  transition: ease-in-out 0.2s;
  position: relative;
  aspect-ratio: 1;
  display: grid;
  grid-template-rows: 2fr 1fr;
  max-height: 80vh;
}

.card:hover {
  transform: scale(1.02);
}

.card img {
  filter: grayscale(1);
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-bottom: 1px solid rgb(207, 207, 207);
  transition: ease-in-out 0.2s;
  will-change: filter;
  min-height: 0;
  height: 100%;
}

.card:hover img {
  filter: grayscale(0);
}

.card .info {
  display: grid;
  grid-template-areas: 
    "name links"
    "desc desc";
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  row-gap: 0.5rem;
  padding: 1.5rem;
  min-height: 0;
}
.card .name {
  grid-area: name;
  line-height: 1.2;
}
.card .links {
  grid-area: links;
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  gap: 1.5rem;
}

.card .links a {
  height: 100%;
  aspect-ratio: 1;
}

.card .description {
  grid-area: desc;
  font-size: 1.15rem;
  overflow: hidden;
  height: 100%;
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

.page-footer {
  background-color: var(--primary);
  display: grid;
  grid-template-columns: 1fr auto;
  color: var(--bg);
  padding-block: 5rem;
  gap: 2rem;
  align-items: center;
}

.info a {
  display: inline-block;
  height: 100%;
}

.page-footer .contacts {
  position: relative;
}

.page-footer p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.page-footer svg {
  fill: var(--bg);
}

.page-footer a {
  color: var(--bg);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  height: 3rem;
}

.page-footer a svg {
  height: 3rem;
}

.page-footer a .email {
  margin: 0;
}

.page-footer img {
  border-radius: 1rem;
  height: 38rem;
  box-shadow: 0 0 16px 0 black;
}



@media (max-width: 1170px) {
  .page-header .photo-wrapper {
    transform: translate(calc(1.4rem - 1.1vw), calc(0.5rem - 1px)) scale(1.3);
  }
  main, .page-footer {
    padding: 3rem 6rem;
  }

  .page-header .info .links,
  .page-footer a {
    height: 3rem;
  }

  .page-footer img {
    border-radius: 1rem;
    height: 30rem;
    box-shadow: 0 0 16px 0 black;
  }
  .page-footer p {
    font-size: 1.5rem;
  }

  .page-header .info .photo h1 {
    font-size: 2rem;
  }
}

@media (max-width: 800px) {
  main h1,
  .page-footer h1,
  .page-header .info h1 {
    font-size: 2.5rem;
  }
  .page-header .info p {
    font-size: 1.5rem;
  }
  main, .page-footer {
    padding: 3rem 2rem;
  }
  .page-header::before {
    --offset: calc(tan(var(--distortion)) * 300%);
  }
  .page-header .info {
    margin-top: 4rem;
    padding: 0 0 3rem;
    width: 28rem;
    background-color: transparent;
    box-shadow: none;
  }

  .page-header .info .links {
    bottom: 0rem;
    right: -0.5rem;
  }
  .page-header .photo-wrapper {
    position: relative;
    right: 0;
    left: 0;
    width: auto;
    height: 40rem;
    transform: scale(1);
    perspective: 1200px;
    margin-bottom: 8rem;
  }

  .page-header .info .placeholder {
    position: absolute;
    background-color: var(--bg);
    z-index: -1;
    right: 0;
    width: auto;
    left: 0;
    top: 48rem;
    height: auto;
    max-height: none;
    bottom: 0;
    transform: scale(1.15);
    border-radius: 1rem;
    box-shadow: 0 0 16px -3px black;
  }

  .page-footer {
    grid-template-columns: auto;
  } 

  
  
  .page-footer .photo {
    justify-self: center;
    order: -1;
  }
  .page-header .info .photo h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 500px) {
  .page-footer img {
    height: 24rem;
    border-radius: 1rem;
    box-shadow: 0 0 16px 0 black;
  }

  .page-header .info .placeholder {
    transform: scale(0.95);
    top: 44rem;
  }
  .page-header .info {
    padding: 1.2rem 1.2rem 3rem;
  }
  .page-header .photo-wrapper {
    margin-bottom: 4rem;
  }

  .page-header .info .links {
    bottom: 1rem;
    right: 1rem;
  }
  .page-footer h1 {
    font-size: 2rem;
  }

  .page-footer p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  main, .page-footer {
    padding: 3rem 0.5rem;
  }
}

@media (hover: none) {
  .card img {
    filter: none;
  }
}
