/* Resetting */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-height: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Main */

body {
  font-family:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: var(--bg);
  color: var(--text);

  --bg: #efe6e6;
  --text: #0A1321;
  --primary: #0f3650;
}


.page-header::before {
  background-color: var(--primary);
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  transform: skewY(var(--distortion)) translateY(var(--offset));
  box-shadow: 0 -3px 16px 4px black;

  --distortion: -9deg;
  --offset: calc(tan(var(--distortion)) * 100vw);
}

.page-header {
  position: relative;
  min-height: 100vh;
  display: flex;
}

.page-header .info {
  margin: auto;
  display: grid;
  grid-template-columns: minmax(15rem,1fr) 3fr;
  width: 75vw;
  gap: 6vw;
  background-color: var(--bg);
  border-radius: 1rem;
  box-shadow: 0 0 16px -2px black;
}

.page-header .photo-wrapper {
  position: relative;
  height: max(75vh - calc(75vw /4), calc(3/2* 75vw /4));
  transform: scale(1.3) translateX(calc(2vw));
  perspective: 600px;
}

.page-header .photo {
  will-change: transform;
  transition: ease-in-out 0.8s transform;
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.page-header .photo .back,
.page-header .photo .front {
  box-shadow: 0 0 8px 0px black;
  border-radius: 1rem;
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden; 
}

.page-header .photo .back {
  background: url(./assets/Vagabond.jpeg) no-repeat center / cover; 
  transform: rotateY(-180deg);
}

.page-header .photo .front {
  background: url(./assets/Vagabond\(1\).jpeg) no-repeat center/ cover;
  transform: rotateY(0deg);
}

.photo-wrapper:hover .photo {
  transform: rotateY(180deg);
}

.page-header .info .photo h1 {
  position: absolute;
  inset: auto 0 0;
  text-align: center;
  color: var(--bg);
  font-size: 2.5rem;
}

.page-header .info .photo .front h1 {
  top: 0;
  color: var(--text);
}

.text-info-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 1rem 0;
}

.page-header .info h1 {
  font-size: 3rem;
}

.page-header .info p {
  font-size: 2rem;
}

.page-header .info .links,
.page-footer .info .links {
  margin: auto 0 0 auto;
  height: 4rem;
}



.info .links svg {
  will-change: transform;
  transition: ease-out .15s transform;
  height: 100%;
}

.info .links svg:hover {
  transition: ease-in .15s transform;
  transform: scale(1.1);
}

main, .page-footer {
  padding: 1rem 8rem;
}

main h1,
.page-footer h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(25rem, 1fr) );
  gap: 3.5rem;
}

.card {
  box-shadow: 0 0 16px -4px black;
  border-radius: 1rem;
  overflow: hidden;
  will-change: transform;
  transition: ease-in-out 0.2s;
  position: relative;
}

.card:hover {
  transform: scale(1.02);
}

.card img {
  filter: grayscale(1);
  min-height: 20rem;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  border-bottom: 1px solid rgb(207, 207, 207);
  transition: ease-in-out 0.2s;
  will-change: filter;
}

.card:hover img {
  filter: grayscale(0);
}

.card .info {
  display: grid;
  grid-template-areas: 
    "name links"
    "desc desc";
  grid-template-columns: 1fr auto;
  row-gap: 0.5rem;
  padding: 1.5rem;
}
.card .name {
  grid-area: name;
  line-height: 1.2;
}
.card .links {
  grid-area: links;
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  gap: 1.5rem;
}

.card .links a {
  height: 100%;
  aspect-ratio: 1;
}

.card .description {
  grid-area: desc;
}

.page-footer {
  background-color: var(--primary);
  display: grid;
  grid-template-columns: 1fr auto;
  color: var(--bg);
  padding-block: 5rem;
  gap: 2rem;
  align-items: center;
}

.info a {
  display: inline-block;
  height: 100%;
}

.page-footer p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.page-footer svg {
  fill: var(--bg);
}

.page-footer a {
  color: var(--bg);
}

.page-footer img {
  border-radius: 1rem;
  height: 38rem;
  box-shadow: 0 0 16px 0 black;
}

